
:root {
    --font-size: clamp(.3rem, 10vw + .5rem, 2.5rem);
    --width: clamp(15rem, 30vw + 1rem, 60rem);
    --fs-h1: clamp(.5rem, 10vw + 1rem, 3rem);
    --fs-p: clamp(.3rem, 5vw + .5rem, 2rem);
    --bd-bg: #212529;
    --btn: #0a58ca;

}

.clock {
    position: absolute;
    top: 50px;
    font-size: 2rem;
}

.card {
    border: none;
    background: var(--bd-bg);
    color: white;
}

body {
    display: grid;
    place-items: center;
    background: var(--bd-bg);
    color: white;
}
/* * header styles */

header.hide {
    display: none;
}

/* .start-quiz {
    width: var(--width);
    background: blue;
    color: white;
    padding: 1rem;
} */

/*  * question styles */



.quiz-container {
    padding: 1rem;
}

.hide {
    display: none;
}
/* .question-container button {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    padding: .5rem 1rem;
    width: clamp(15rem, 30vw + 1rem, 60rem);
    

} */

/* h1, h2 {
    font-size: clamp(.5rem, 10vw + 1rem, 3rem);
} */


/* p {
    font-size: clamp(.3rem, 5vw + .5rem, 2rem);
} */

.question {
    font-size: var(--fs-h1);
}

.answer {
    display: flex;
    flex-direction: column;
    /* margin: .5rem 0; */
    /* width: var(--width);  */
    font-size: var(--fs-p);
}

form {
    font-size: var(--fs-p);
    margin-top: 2rem;
}

/* .submit {
    background-color: var(--btn);
    color: white;
    font-size: var(--fs-p);
} */

/*  * high scores list  */

.list-item {
    color: var(--btn);
    list-style: none;
}